[Unit]
Description=mcar remote control
After=network.target

[Service]
ExecStart=/usr/bin/env poetry run start
WorkingDirectory=/z/mcar
StandardOutput=inherit
StandardError=inherit
Restart=always
User=root

[Install]
WantedBy=multi-user.target
