[Unit]
Description=mcar remote control
After=network.target

[Service]
ExecStart=/home/victorgorchilov/.local/bin/poetry run -u server.py
WorkingDirectory=/z/mcar
StandardOutput=inherit
StandardError=inherit
Restart=always
User=root

[Install]
WantedBy=multi-user.target
