[Unit]
Description=mcar remote control
After=network.target

[Service]
ExecStart=/usr/bin/python3 -u web.py
WorkingDirectory=/z/mcar
StandardOutput=inherit
StandardError=inherit
Restart=always
User=root

[Install]
WantedBy=multi-user.target
