<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>mCar</title>
        <link
            rel="shortcut icon"
            href="{{ url_for('static',filename='favicon.ico') }}"
        />
        <link
            rel="stylesheet"
            href="{{ url_for('static', filename='style.css') }}"
        />
        <script
            src="{{ url_for('static', filename='main.js') }}"
            defer
        ></script>
        <script src="{{ url_for('static', filename='nipple.js') }}"></script>
        <script src="https://cdn.socket.io/4.1.1/socket.io.msgpack.min.js"></script>
    </head>
    <body>
        <img class="video-feed" src="{{ url_for('video_feed') }}" height="400px" />
        <div id="wrapper"></div>
    </body>
</html>
